.create-product-form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border: 2px solid #fefefe;
    border-radius: 5px;
    background-color: #777;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    width: 650px;
    color: #fefefe;
    height: 360px;
    position: relative;
}

.create-product-left, .create-product-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 5px;
    height: 80%;
    width: 50%;
}

.button-container {
    background-color: transparent;
    color: #fefefe;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    width: 40%;
    height: 100px;
    position: absolute;
    bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.create-product-button {
    background-color: #333;
    color: #fefefe;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.confirm:hover {
    background-color: #555;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.cancel {
    background-color: #777;
    border: 1px solid #333;
    text-decoration: none;
}

.cancel:hover {
    background-color: #666;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
}

.create-product-field label {
    margin-bottom: 2px;
    font-weight: bold;
    font-size: 13px;
    color: #fefefe;
    font-family: Arial, sans-serif;
    width: 40%;
}

.create-product-input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fefefe;
    color: #fefefe;
    font-size: 15px;
    transition: border-color 0.3s ease;
    outline: none;
    background: linear-gradient(to left, #666, transparent);
}

.create-product-input:focus {
    border-color: #333;
}

.create-product-field {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.create-product-image {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fefefe;
    color: #fefefe;
    outline: none;
    background: linear-gradient(to left, #666, transparent);
    width: 140px;
}

.create-product-image::-webkit-file-upload-button {
    cursor: pointer;
    background-color: #333;
    color: #fefefe;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.create-product-image::-webkit-file-upload-button:hover {
    background-color: #555;
}

.create-product-textarea {
    max-width: 100%;
    min-width: 100%;
    max-height: 150px;
    min-height: 150px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fefefe;
    color: #fefefe;
    font-size: 15px;
    transition: border-color 0.3s ease;
    outline: none;
    background: linear-gradient(to left, #666, transparent);
    resize: none;
    overflow: auto;
    font-family: Arial, sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #555 #777;
}

#category-create {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fefefe;
    color: #fefefe;
    transition: border-color 0.3s ease;
    outline: none;
    background: linear-gradient(to left, #666, transparent);
    font-family: Arial, sans-serif;
}

#category-create option {
    background-color: #777;
    color: #fefefe;
}

#category-create option:hover {
    background-color: #555;
}

.image {
    position: relative;
}

.image span {
    position: absolute;
    top: 50%;
    left: 145px;
    color: #fefefe;
    font-size: 18px;
    color: rgb(6, 227, 24);
}

@media screen and (min-width: 1700px) {
    .create-product-form {
        width: 1000px;
        height: 460px;
    }

    .create-product-button {
        font-size: 20px;
    }

    .create-product-field label {
        font-size: 18px;
    }

    .create-product-input {
        font-size: 20px;
        height: 40px;
    }

    .create-product-textarea {
        font-size: 18px;
    }

    #category-create {
        font-size: 18px;
        height: 40px;
    }

    .create-product-image::-webkit-file-upload-button {
        font-size: 18px;
    }

    .image span {
        font-size: 25px;
    }

    .image input {
        width: 180px
    }

    .create-product-title {
        font-size: 40px;
    }

    .create-product-error {
        font-size: 25px;
    }

    .button-container {
        gap: 20px;
    }

    .create-product-button {
        padding: 20px 20px;
        gap: 20px;
        font-size: 23px;
    }
}

@media screen and (max-width: 700px) {
    .create-product-form {
        width: 500px;
    }
}

@media screen and (max-width: 550px) {
    .create-product-form {
        flex-direction: column-reverse;
        align-items: center;
        min-width: 90%;
        max-width: 300px;
        padding: 10px;
        height: fit-content;
    }

    .button-container {
        flex-direction: column;
        width: 100%;
        height: fit-content;
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;
        gap: 7px;
        position: relative;
        bottom: 0;
    }

    .create-product-button {
        min-width: 90%;
        max-width: 200px;
        height: 40px;
        gap: 15px;
    }

    .create-product-left, .create-product-right {
        width: 100%;
    }
}