@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 7dvh;
    background-color: #555;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    font-family: Arial, sans-serif;
    z-index: 10;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.navbar-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar-search-input {
    width: 400px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 5px;
    background-color: #fefefe;
}


.navbar-search-button {
    position: absolute;
    right: 0;
    height: 29px;
    width: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: none;
}

.navbar-search-input:focus {
    border: 1px solid #555;   
}

.navbar-search-results {
    position: absolute;
    top: 95%;
    left: 0; 
    width: 400px;
    background-color: #fefefe;
    border: 1px solid #555;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px 0;
    max-height: 200px;
    overflow-y: auto;
}

.navbar-search-results-item {
    list-style: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

.navbar-search-results-item-link {
    text-decoration: none;
    color: #555;
    width: 100%;
    background-color: #fefefe;
}

.navbar-search-results-item-link:hover > li {
    background-color: #eee;}

.navbar-menu {
    display: none;
}

.navbar-menu i {
    color: #111;
    font-size: 25px;
    cursor: pointer;
    transition: color 0.3s ease;
    border: 2px solid #111;
    border-radius: 5px;
    padding: 5px;
    background-color: #eee;
}

.navbar-responsive-container {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100vh;
    background-color: #555;
    z-index: 10;
    font-family: Arial, sans-serif;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

@media (min-width: 769px) {
    .navbar-responsive-container {
        display: none !important;
    }
}

@media (max-width: 768px) {
    .navbar-menu {
        display: block;
        z-index: 10;
    }

    .navbar-no-responsive-container {
        display: none;
    }

    .navbar-responsive-container {
        display: flex;
    }
}

@media (max-width: 500px) {
    .navbar-search-input {
        width: 300px;
        height: 25px;
    }

    .navbar-search-input::placeholder {
        font-size: 10px;
    }

    .navbar-search-results {
        width: 300px;
    }

    .navbar-search-button {
        width: 20px;
        height: 23px;
    }

    .navbar-search-results-item {
        font-size: 12px;
    }

    .navbar-menu i {
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    .navbar {
        padding: 5px 10px;
    }
    .navbar-search-input {
        width: 240px;
        border-radius: 4px;
    }

    .navbar-search-results {
        width: 240px;
    }

    .navbar-search-button {
        height: 18px;
    }
}