.search-product-screen {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #888;
    min-height: 100dvh;
    width: 100%;
    gap: 20px;
    align-items: center;
}

.search-product-container {
    padding: 10px;
    min-height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    box-sizing: content-box;
}

.search-product-item-link {
    text-decoration: none;
    color: #555;
    min-width: 550px;
    width: 60%;
    background-color: #fefefe;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding: 10px 20px;
}

.search-product-item-link:hover {
    box-shadow: 0 0 10px rgba(200, 200, 200, 0.8);
}

.search-product-item-image {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: #fff;
    color: #fff;
}

.search-product-item-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.search-product-item-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    height: 100px;
    color:rgba(0, 0, 0, 0.8)
}

.search-product-item-name {
    font-size: 28px;
    font-weight: bold;
}

.search-product-item-price {
    font-size: 18px;
    font-weight: bold;
}

.no-products-found {
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#fefefe;
    width: 80%;
}

@media screen and (max-width: 650px) {
    .search-product-item-link {
        min-width: 300px;
        width: 80%
    }

    .search-product-item-image {
        width: 70px;
        height: 70px;
    }

    .search-product-item-image img {
        width: 70px;
        height: 70px;
    }

    .search-product-item-info {
        height: 70px;
    }

    .search-product-item-name {
        font-size: 18px;
    }

    .search-product-item-price {    
        font-size: 15px;
    }

    .no-products-found {
        font-size: 25px;
    }
}

@media screen and (max-width: 450px) {
    .search-product-item-link {
        min-width: 200px;
        width: 90%
    }

    .search-product-item-image {
        width: 50px;
        height: 50px;
    }

    .search-product-item-image img {
        width: 50px;
        height: 50px;
    }

    .search-product-item-info {
        height: 50px;
    }

    .search-product-item-name {
        font-size: 15px;
    }

    .no-products-found {
        font-size: 20px;
    }
}